*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}

.most-back{
    width: 100%;
    height: 345px;
    overflow: hidden;
    position: relative;
}
.back{
    position: absolute;
    left: 0;
    top: -255px;
    height: 1000px;
    width: 100%;
}
.backs{
    width: 100%;
    height: 100%;
    background-color: rgba(28,28,28,0.4);
    position: absolute;
    left: 0;
    top: 0;
}
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 93px;
}
.nav-box{
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
}
.nav-left{
    width: 191px;
    height: 100%;
    float: left;
}
.img-box{
    width: 131px;
    height: 29px;
    margin-top: 30px;
}
.img-box .imgg{
    width: 100%;
    height: 100%;
}
.nav-center{
    width: 934px;
    height: 100%;
    float: left;
    margin-left: 16px;
}
.nav-center .object{
    margin-right: 30px;
    margin-left: 30px;
    float: left;
    margin-top: 34px;
}
.nav-center .object .text{
    color: #ffffff;
    padding: 2px 0 3px 0;
    min-width: 20px;
    text-align: center;
    transition: color 0.2s ease;
    border: 1px solid transparent;
    position: relative;

}
.nav-center .object:nth-child(1) .text{
    color: #efefef;
}
.nav-center .object .text:hover{
    color: #efefef;
}
.nav-center .object .text i{
    position: absolute;
    top: 30px;
    left: 50%;
    opacity: 0;
    width: 0;
    background: #ffffff;
    display: block;
    height: 1px;
    transition: all 0.6s cubic-bezier(0.215,0.61,0.355,1) 0s;
}
.nav-center .object .text:hover i{
    position: absolute;
    top: 30px;
    width: 100%;
    left: 0;
    opacity: 1;
    background: #ffffff;
    display: block;
    height: 1px;
    transition: all 0.6s cubic-bezier(0.215,0.61,0.355,1) 0s;
}
.nav-center .object:nth-child(2) .text i{
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    opacity: 1;
    background: #ffffff;
    display: block;
    height: 1px;
    transition: all 0.6s cubic-bezier(0.215,0.61,0.355,1) 0s;
}
.nav-right{
    width: 264px;
    height: 100%;
    float: right;
}
.nav-right-box{
    width: 161px;
    height: 50px;
    margin-top: 20px;
    float: right;
    position: relative;
}
.nav-right-box .img-box2{
    width: 27px;
    height: 23px;
    position: absolute;
    left: 0;
    top: 15px;
}
.nav-right-box .img-box2 .img2{
    width: 100%;
}
.nav-right-box .line1{
    color: #FFFFFF;
    text-align: right;
    font-weight: normal;
    position: absolute;
    left: 30px;
    top: 15px;
}
.nav-right-box .box{
    width: 110px;
    height: 30px;
    position: absolute;
    left: 45px;
    top: 10px;
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-family: georgia;
}
.nav-right-box .box .span2{
    position: absolute;
    left: 15px;
    top: 6px;
    font-size: 20px;
    display: block;
}
/* 中间开始 */
.platform-box{
    width: 1024px;
    height: 164px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}
.platform-box h1{
    margin-top: 30px;
    font-family: 微软雅黑;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    color: #494949;
}
.platform-box .line2{
    width: 60px;
    height: 4px;
    background: #36d3db;
    margin: auto;
    margin-top: 20px;
}
.platform-box h6{
    margin-top: 20px;
    text-align: center;
    color: #666666;
    font-size: 18px;
    font-weight: normal;
}
.phone-box{
    width: 100%;
    height: 750px;
    padding-top:20px; 
    background: #f2f2f2;
    background-image: url(../img/q2.jpg);
}
.phone{
    width: 766px;
    height: 500px;
    margin: auto;
}
.php-img{
    width: 100%;
}
/* 中间结束 */
/* 产品开始 */
.protect-box{
    width: 1024px;
    height: 495px;
    margin:100px auto; 
}
.swiper-container {
    width: 480px;
    height: 495px;
    margin-right: 32px;
    position: relative;
    float: left;
}  
.swiper-wrapper{
    width: 278px;
    height: 490px;
    position: absolute;
    left: 101px;
    top: 0;
    overflow: hidden;
}
.swiper-slide{
    position: absolute;
    left:278px;
    top: 0;
    width: 100%;
    height: 100%;
}
.swiper-slide .so{
    width: 100%;
}
.swiper-button-prev{
    width: 44px;
    height: 44px;
    background-color: #888888;
    color: #FFF;
    text-align: center;
    line-height: 44px;
    border-radius: 2px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 225px;
    border-radius: 2px;
    display: none;
}
.swiper-button-next{
    width: 44px;
    height: 44px;
    background-color: #888888;
    color: #FFF;
    text-align: center;
    line-height: 44px;
    border-radius: 2px;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 225px;
    border-radius: 2px;
    display: none;
}
.protect{
    width: 512px;
    height: 100%;
    float: left;
}
.protect-h2{
    font-family: 微软雅黑;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    color: #494949;
    margin: 30px 0 20px;
}
.proctect-span-box1{
    display: block;
    width: 378px;
    line-height: 2;
    font-size: 13px;
    word-break: break-all!important;
    overflow-wrap: normal!important;
    word-spacing: normal;
    color: #777777;
    font-weight: normal;
}
.proctect-span1{
    width: 100%;
}
.proctect-span-box2{
    display: block;
    margin-top: 15px;
    width: 378px;
    line-height: 2;
    font-size: 13px;
    word-break: break-all!important;
    overflow-wrap: normal!important;
    word-spacing: normal;
    color: #777777;
    font-weight: normal;
}
.more-a{
    color: #36D3DB;
}
.go1{
    width: 176px;
    height: 110px;
    margin-top: 60px;
}
/* 产品2 */

.protect2{
    width: 100%;
    background: #f2f2f2;
    height: 680px;
    overflow: hidden;
    margin-bottom: 30px;
}
.protect-box1{
    width: 1024px;
    height: 495px;
    margin:100px auto 150px; 
}
.swiper-container1{
    width: 480px;
    height: 495px;
    margin-left: 32px;
    position: relative;
    float: left;
}  
.swiper-wrapper1{
    width: 278px;
    height: 490px;
    position: absolute;
    left: 101px;
    top: 0;
    overflow: hidden;
}
.swiper-slide1{
    position: absolute;
    left:278px;
    top: 0;
    width: 100%;
    height: 100%;
}
.swiper-slide1 .so{
    width: 100%;
}
.swiper-button-prev1{
    width: 44px;
    height: 44px;
    background-color: #888888;
    color: #FFF;
    text-align: center;
    line-height: 44px;
    border-radius: 2px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 225px;
    border-radius: 2px;
    display: none;
}
.swiper-button-next1{
    width: 44px;
    height: 44px;
    background-color: #888888;
    color: #FFF;
    text-align: center;
    line-height: 44px;
    border-radius: 2px;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 225px;
    border-radius: 2px;
    display: none;
}
.go1{
    width: 176px;
    height: 110px;
    margin-top: 60px;
}
.go-box{
    width: 176px;
    height: 44px;
    background-color: rgb(54, 211, 219);
    border: 1px solid rgb(54, 211, 219);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 44px;
    border-radius: 50px;
}
.go-box:hover{
    background-color: rgb(242,242,242   );
    border: 1px solid rgb(54, 211, 219);
    color: rgb(54, 211, 219);
}

/* 产品结束 */

/*多个产品开始*/
.more-products-box{
    width: 1200px;
    /*height: 500px;*/
    /*background: beige;*/
    margin: auto;
}
.more-products-header{
    width: 100%;
    height: 109px;
    background: #f2f2f2;
}
.more-products-header ul li{
    width: 120px;
    height: 109px;
    float: left;
    font-size: 18px;
    display: block;
    line-height: 109px;
    text-align: center;
}
.more-products-header ul li a{
    color: #0b0b0b;
}
.more-products-header ul li:hover a{
        color: #cc0000;
}
.more-products{
    margin-top: 20px;
    width: 100%;
    height: 307px;
    cursor: pointer;
}
.china-box{
    width: 300px;
    height: 307px;
    float: left;
}
.china-box:hover .china-txt{
    color: #e6002f;
}
.china-img{
    width: 284px;
    height: 204px;
    border: 2px solid beige;
    border-right:2px solid red;
    border-bottom:2px solid red;
}
.china-imgg{
    width: 284px;
    height: 204px;
    border: 2px solid beige;
    border-left:2px solid red;
    border-bottom:2px solid red;
}
.china-img-box{
    width: 268px;
    height: 188px;
    margin: 8px;
    background: yellow;
}
.china-img-box img{
    width: 100%;
}
.china-txt{
    font-size: 16px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.china-txt1{
    font-size: 12px;
    color: #a2a2a2;
    margin-bottom: 5px;
    height: 17px;
}
.china-txt2{
    font-size: 12px;
    color: #000;
}
.china-txt2 span{
    color: #e6002f;
}
/*多个产品结束*/
.img-bottom{
    display: block;
    width: 100%;
    height: 248px;
    margin-top: 80px;
    background-color: rgba(0,0,0,0.7);
    z-index: 4;
    overflow: hidden;
    /*margin-top: -30px;*/
}
.img-bottom-box{
    width: 1024px;
    height: 183px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 45px;
    overflow: hidden;
}
.fours-box{
    width: 256px;
    height: 153px;
    margin-top: 30px;
    float: left;
    overflow: hidden;
}
.fours-img{
    width: 90px;
    height: 82px;
    margin-left: 83px;
}
.fours-img .img3{
    width: 100%;
}
.fours-text{
    margin-top: 20px;
    box-sizing: border-box;
    color: #A9A9A9;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding: 0 10px;
}
/* 最后开始 */
.foot-box{
    width: 100%;
    height: 232px;
    padding-top: 40px;
    color: #8d9095;
    font-weight: 400;
    word-spacing: normal;
    background: #2c2c2c none repeat center top;
}
.foot{
    width: 1024px;
    height: 100%;
    padding: 0 40px;
    margin: auto;
    overflow: hidden;
}
.foot1{
    width: 190px;
    height: 134px;
    float: left;
    margin-top: 15px;
}
.foot1 h5{
    font-size: 14px;
    margin-bottom: 10px;
}
.foot-img{
    width: 100px;
    height: 100px;
}
.footimg{
    width: 100%;
}
.foot2{
    width: 278px;
    height: 134px;
    float: left;
    margin-top: 15px;
}
.foot2 h5{
    font-size: 14px;
    margin-bottom: 10px;
}
.foot2 span{
    font-size: 12px;
}
.foot-text{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    color: #8d9095;
    line-height: 30px;
    margin-top: 50px;
}
/* 最后结束 */